
    <div class="container">
        <div class="row">
            <div class="col-md-12">
        
                <h2>Add Department</h2>

                <br />
        
                 <label for="departmentName">Department Name:</label>
                                    <input class="form-control" id="depatmentName" name="departmentName" type="text" />
                               <hr />
        
                    <input type="submit" class="btn btn-primary pull-right" value="Add Department" /><br />
        
                </form>
            </div>
        </div>
    </div>

  